.basicselect_select {
	min-width: 120px;
	min-height: 30px;
	display: block;
	font-size: 1em;
}

.basicselect_bar {
	width: inherit;
	height: inherit;
	padding: 2px;
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: 1fr;
}

.basicselect_selectedall {
	height: 100%;
	width: 100%;
}

.basicselect_selected {
	width: max-content;
	height: 26px;
	outline: 1px #ff0000 solid;
	margin: 0 2px;
	cursor: pointer;
}

.basicselect_input {
	min-width: 60px;
}

.basicselect_options {
	display: none;
}

.basicselect_options.show {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	max-height: 120px;
}

.basicselect_optionnew {
	cursor: pointer;
}

.basicselect_header {
	font-size: 1.1em;
}

.basicselect_option {
	cursor: pointer;
}
