.bs_select {
	width: inherit;
	height: 30px;
	background: #aaa;
	display: block;
	font-size: 1em;
	overflow: hidden;
}

.bs_bar {
	width: inherit;
	height: 100%;
	padding: 2px;
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: 1fr;
}

.bs_selectedall {
	height: 100%;
	width: 100%;
	line-height: 1.6em;
	padding: 0 2px;
}

.bs_selected {
	width: max-content;
	height: 26px;
	margin: 0 2px 0 0;
	padding: 2px 4px;
	cursor: pointer;
	display: inline-block;
	line-height: 1.4em;
	background: #ddd;
}

.bs_input {
	min-width: 60px;
	display: inline-block;
	background: inherit;
	border: none;
}

.bs_options {
	display: block;
	position: fixed;
	max-height: 240px;
	overflow-y: auto;
	overflow-x: hidden;
	width: inherit;
	border: 1px #fff solid;
}

.bs_optionnew {
	cursor: pointer;
	width: inherit;
	padding: 2px 4px;
	background: #aaa;
	border-bottom: 1px #fff dashed;
}

.bs_header {
	font-size: 1.1em;
	width: inherit;
	padding: 2px 4px;
	text-transform: uppercase;
	background: #888;
	border-bottom: 1px #fff dashed;
}

.bs_option {
	cursor: pointer;
	width: inherit;
	padding: 2px 4px;
	background: #aaa;
	border-bottom: 1px #fff dashed;
}

.bs_none {
	cursor: pointer;
	width: inherit;
	padding: 2px 4px;
	background: #aaa;
	border-bottom: 1px #fff dashed;
}

.bs_option:hover:after {
	content: " +";
}

.bs_option_selected {
	color: #005500;
}

.bs_option_selected:hover:after {
	content: " –";
}
